* {
    margin: 0px;
    padding: 0px;
}

p {
    color: green;
}

body {
    background-image: url(./public/imgs/aliensBg/bgToAliensMenu.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.spaceBetweenContainer {
    display: flex;
    justify-content: space-between;
}

.flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flexCenterContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0rem;

}

.flexEnd {
    display: flex; 
    justify-content: end;
    align-items: center;
    padding: 1rem;
}

#audioIcon {
    height: 50px;
    width: 50px;
}

.titlePattern {
    height: 100px; 
    width: 600px;
}

.btnPattern {
    height: 80px;
    width: 340px;
}

@media only screen and (max-height: 568px) {
    body {
        background-image: url(./public/imgs/aliensBgCell/bgCellToAliens.png);
        background-size: cover;
    }

    #audioIcon {
        height: 35px;
        width: 35px;
}
    .titlePattern {
        margin-bottom: 5rem;
}

    .btnPattern {
        height: 95px;
        width: 365px;
    }
}

@media only screen and (max-width: 568px) {
    body {
        background-image: url(./public/imgs/aliensBgCell/bgCellToAliens.png);
    }

    #audioIcon {
        height: 35px;
        width: 35px;
}

    .titlePattern {
        height: 65px; 
        width: 355px;

        margin-bottom: 4rem;
}

    .btnPattern {
        height: 85px;
        width: 325px;
    }
}

@media only screen and (min-height: 1024px) {
    #audioIcon {
        height: 100px;
        width: 100px;
}

    .titlePattern {
        height: 300px; 
        width: 1520px;

        margin-bottom: 4rem;
}

    .btnPattern {
        height: 250px;
        width: 900px;
    }
}