@font-face {
    font-family: 'pixels';
    src: url(../../public/fonts/Minecraftia-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;

    font-family: pixels;
}

body {
    background-image: url(../../public/imgs/aliensBg/bgToAliensOptions.png);
    background-size: cover;
    background-repeat: no-repeat;
}

select{
    background-color: #df7126;
    border: solid black 2px;

    padding: 6px;
}

.centeredImage {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 1rem;
}

.push {
    margin-bottom: 3rem;
}

.flexEnd {
    display: flex; 
    justify-content: end;
    align-items: center;
    padding: 1rem;
}

.displayCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btnPattern {
    height: 95px;
    width: 365px;
}

#optBtn {
    padding: 1rem;
    background-color: #df7126;
    border: solid black 2px;
}

#rangeVolume {
  -webkit-appearance: none;
  width: 100%;
  background: transparent;
  cursor: pointer;
}

#rangeVolume::-webkit-slider-runnable-track {
  height: 8px;
  background: #df7126;
  border-radius: 10px;
  border: 1px solid #000000;
  box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.1);
}

#rangeVolume::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 24px;
  width: 24px;
  background: #df7126;
  border-radius: 30px;
  border: 1px solid #000000;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.3);
  margin-top: -9px;
}

@media only screen and (max-height: 568px) {
        body {
        background-image: url(../../public/imgs/aliensBgCell/bgCellToAliens.png);
    }
}

@media only screen and (max-width: 568px) {
    body {
        background-image: url(../../public/imgs/aliensBgCell/bgCellToAliens.png);
    }

    #dificultyImg {
        height: 75px;
        width: 300px;
    }

    #optBtn {
        height: 50px;
        width: 200px;    
    }

    .btnPattern {
        height: 75px;
        width: 300px;
    }
}

@media only screen and (min-height: 951px) {

    #dificultyImg {
        height: 150px;
        width: 700px;
    }

    #optBtn {
        font-size: 1rem;
        height: 100px;
        width: 200px;    
    }

    .btnPattern {
        height: 150px;
        width: 700px;
    }

    select{
        padding: 1rem;
        font-size: 1rem;
    }

}