* {
    margin: 0px;
    padding: 0px;
}

p {
    color: green;
}

body {
    background-image: url(/public/imgs/bgToAliens.png);
    background-size: cover;
}

.spaceBetweenContainer {
    display: flex;
    justify-content: space-between;
}

.flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

#startBtn {
    color: green;

    border-radius: 12px;
    background-color: black;
}

#startBtn :hover {
    border: solid green 1px;
}