* {
    margin: 0px;
    padding: 0px;
}

p {
    color: green;
}

body {
    background-image: url(/public/imgs/aliensBg/bgToAliensMenu.png);
    background-size: cover;
}

.spaceBetweenContainer {
    display: flex;
    justify-content: space-between;
}

.flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

