* {
    margin: 0;
    padding: 0;
}

p {
    color: green;
}

body {
    background-image: url(/public/imgs/bgToAliens.png);
    background-size: cover;
}

.player {
    width: 200px;
    height: 350px;
}

.changeBtn {
    border: none;
    background-color: transparent;
    font-size: 2rem;

    color: white;
}

.spaceBetween {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.spaceAroundContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.flexCenter {
    display: flex;
    justify-content: center;
}

#startBtn {
    color: green;

    border-radius: 12px;
    background-color: black;
}