* {
    margin: 0;
    padding: 0;
}

p {
    color: green;
}

body {
    background-image: url(/public/imgs/aliensBg/bgToAliensChrSelec.png);
    background-size: cover;
    background-repeat: no-repeat;
}

@keyframes onMovement {0% { transform: translateY(0); } 50% { transform: translateY(-15px);} 100%{transform: translateY(0px)}}

#soundIcon {
    height: 50px; 
    width: 50px;
}

.player {
    width: 200px;
    height: 350px;

    animation: onMovement 10s linear infinite;
}

.changeBtn {
    border: none;
    background-color: transparent;
    font-size: 2rem;

    color: white;
}

.spaceBetween {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.spaceAroundContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.flexCenter {
    display: flex;
    justify-content: center;

    padding: 2rem;
}

.flexEnd {
    display: flex; 
    justify-content: end;
    align-items: center;
    padding: 1rem;
}

.imgPattern {
    width: 100px; 
    height: 75px; 
    padding: 2rem; 
    filter: drop-shadow(0px 0px 5px black);
}

#startBtn {
    border-radius: 12px;
    background-color: black;

    width: 90px; 
    height: 50px; 
    filter: drop-shadow(0px 0px 5px black);
}

@media only screen and (max-width: 600px) {
    #startBtn {
        width: 35px;
        height: 20px;
    }

    #soundIcon{
        width: 40px;
        height: 40px;
    }

    .spaceAroundContainer {
        display: flex;
        justify-content: space-around;
        align-items: center;

        padding-top: 25%;
}
    
    .changeBtn{
        font-size: 1rem;
    }

    .player {
        height: 150px;
        width: 75px;
    }

    .imgPattern {
        width: 35px;
        height: 20px;
        padding: 1rem; 
    }
}